
body {
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'Noto Serif JP', serif;

}



p {
  color: #000000;
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
}




.words {
    margin: 25px;
    position : fixed;
    top      : 0%;
    left     : 25%;
    height   : 100%;
    width    : 50%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}



img {
  width: 350px;
  height: auto;
}