
body {
  background-color: #F6F6F6;
  font-size: 18px;
  font-family: 'Assistant', sans-serif;

}



p {
  color: #000000;
  font-size: 18px;
  font-family: 'Assistant', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.left {
  width: 400px;
  height: auto;
  margin-left: 10%;
}

.right {
  height: 400px;
  width: auto;
  margin-left: 55%;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}